*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(61, 23, 53);
}

.logo{
color: bisque;
text-transform: uppercase;
letter-spacing: 2px;
font-size: 20px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
     width: 30%;
}

.nav-links a{
    color: bisque;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;

}
.nav-links li{
    list-style: none;
}

.burger{
    display: none;
    cursor:pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: bisque;
    margin: 5px;
}

@media  screen and (max-width: 1024px) {
    .nav-links{
        width: 60%;
    }
}

@media  screen and (max-width: 768px) {
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top:8vh;
        background-color: rgb(61, 23, 53);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform:translateX(100%);
        transition: transform 0.5s ease-in;
        border-radius: 0 0 0 50%;
    }
 .nav-links li{
     opacity: 1;
 }
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0px);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }

}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
